:root {
    --sidebar-width-expanded: 16rem;
    /* --sidebar-width-expanded: 4rem; */
    --sidebar-logo-height: 4rem;
    --border: 1px solid rgba(0, 0, 0, 0.06);
    --sidebar-brand-horizontal-margin: 10px;
    --sidebar-brand-font: 'Nunito', sans-serif;
    --sidebar-brand-font-size: 1.8rem;
    --sidebar-brand-letter-spacinig: .15rem;
}

.sidebar {
    position: fixed;
    width: var(--sidebar-width-expanded);
    height: 100vh;
    border-right: var(--border);
    overflow-x: hidden;
}

.sidebar-brand-container {
    border-bottom: var(--border);
    margin-left: var(--sidebar-brand-horizontal-margin);
    margin-right: var(--sidebar-brand-horizontal-margin);
}

.sidebar-brand {
    display: flex;
    align-items: center;
    height: 4rem;
    margin-left: 1rem;
    margin-right: .75rem;
}

.sidebar-logo {
    height: 1.95rem;
    transform: rotate(-11deg); 
}

.sidebar-brand-text {   
    margin: 0;
    margin-left: 1rem;
    margin-top: 2px;
    font-family: var(--sidebar-brand-font);
    font-size: var(--sidebar-brand-font-size);
    letter-spacing: var(--sidebar-brand-letter-spacing);
    font-weight: 900; 
}

.sidebar-closer {
    margin-left: auto;
    color: gray;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 1.5rem;
    gap: 1rem;
    padding: 0;
}

.sidebar-item {
    display: flex;
    align-items: center;
    width: 35px;
    height: 35px;
    margin-left: 1.25rem;
}

.sidebar-icon {
    margin-right: 1.5rem;
    font-size: 1.1rem;
}

.menu-toggle {
    position: fixed;
    font-size: 20px;
    left: 20rem;
    top: 2rem;
}

.blue {
    color: #2196f3;
}

.brown {
    color: #795548;
}