:root {
    --sidebar-width: 4rem;
    --sidebar-width-expanded: 16rem;
    --sidebar-logo-height: 4rem;
    --border: 1px solid rgba(0, 0, 0, 0.06);
    --sidebar-brand-horizontal-margin: 10px;
    --sidebar-brand-font: 'Nunito', sans-serif;
    --sidebar-brand-font-size: 1.8rem;
    --sidebar-brand-letter-spacinig: .15rem;
}

.sidebar {
    position: fixed;
    width: 16rem;      
    width: var(--sidebar-width);
    height: 100vh;
    border-right: var(--border);
    overflow-x: hidden;
    transition: all 200ms ease;
}

.sidebar-expanded {
    width: var(--sidebar-width-expanded);
}

.sidebar-brand-container {
    border-bottom: var(--border);
}

.sidebar.sidebar-expanded .sidebar-brand {
    margin-left: 1.5rem; 
}

.sidebar-brand {
    display: flex;
    align-items: center;
    height: rem;
}

.sidebar-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    min-width: 4rem;
    height: 4rem;
}

.sidebar-logo {
    height: 1.95rem;
    transform: rotate(-11deg); 
}

.sidebar-brand-text {   
    margin: 0;
    margin-top: 2px;
    font-family: var(--sidebar-brand-font);
    font-size: var(--sidebar-brand-font-size);
    letter-spacing: var(--sidebar-brand-letter-spacing);
    font-weight: 900; 
}

.sidebar-closer {
    display: block;
    margin-left: auto;
    margin-right: 1rem;
    color: #D1BFD1;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 1.5rem;
    padding: 0;
}

.sidebar-item {
    display: flex; 
    align-items: center;
}

.sidebar-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    min-width: 4rem;
    height: 4rem;
    /* background-color: lightblue; */
    font-size: 1.1rem;

}

.sidebar-toggle {
    position: fixed;
    font-size: 20px;
    left: 18rem;
    top: 1.4rem;
}

.sidebar-purple {
    color: #8306FA;
}

.sidebar-blue {
    color: #0C7BA6;
}

/* larger than mobile screens */
@media screen and (min-width: 576px) {
    .sidebar:hover {
        width: var(--sidebar-width-expanded);
    }
    
    .sidebar:hover .sidebar-brand {
        margin-left: 1.5rem; 
    }

    .sidebar-closer {
        display: none;
    }
}