:root {
    --bs-body-font-family: 'Poppins', sans-serif;
    --sidebar-width: 4rem;
    --sidebar-width-expanded: 16rem;
}

.page {
    display: flex;
    flex-direction: row;
}

main {
    padding: 1.1rem;
}

.sidebar {
    z-index: 999;    
}

.page-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: var(--sidebar-width);
}

/* non-mobile screens */
@media screen and (min-width: 576px) {
    body.sidebar-expanded .page-right {
        margin-left: var(--sidebar-width-expanded);
    }
}

