:root {
    --bs-body-font-family: 'Poppins', sans-serif;
    --navbar-height: 4rem;
}

/*  Colors (color schema from https://tablericons.com) */

.green {
    color: #00b341;
}

.purple {
    color: #6f32be;
}

.red {
    color: #ff2825;
}

.blue {
    color: #00abfb;
}

.pink {
    color: #a905b6;
}

.background-light-green {
    background-color: #00b34225;
}

.background-light-red {
    background-color: #ff292522;
}

.background-light-blue {
    background-color: #00abfb24;
}

.background-light-pink {
    background-color: #aa05b61f;;
}