:root {
    font-size: .95em;;
    --bs-body-font-family: 'Poppins', sans-serif;
    --bs-body-font-weight: 400;
    --navbar-height: 4rem;
    --sidebar-width: 4rem;
    --sidebar-width-expanded: 16rem;
    --sidebar-background-color: white;
    --sidebar-logo-height: 4rem;
}

/*  Colors (color schema from https://tablericons.com) */

.green {
    color: #00b341;
}

.purple {
    color: #6f32be;
}

.red {
    color: #ff2825;
}

.blue {
    color: #00abfb;
}

.pink {
    color: #a905b6;
}

.orange {
    color: #ff9300;
}

.background-light-green {
    background-color: #00b34225;
}

.background-light-red {
    background-color: #ff292522;
}

.background-light-blue {
    background-color: #00abfb24;
}

.background-light-pink {
    background-color: #aa05b61f;
}