:root {
    --bs-body-font-family: 'Poppins', sans-serif;
}

.my-card {
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 0.2rem;
}

.my-card-body {
    display: flex;
    flex-direction: column;
    padding-inline: 20px;
    padding-block: 20px;
}

.my-card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* .my-card-icon {
    font-size: 20px;
} */

.my-card-icon {
    font-size: 34px;
    padding-bottom: 2px;
}

.margin-auto {
    margin: 0;
    margin-left: auto;
    margin-right: 10px;
}

.my-card-title {
    margin: 6;
}

.green {
    color: #198754;
}

.purple {
    color: #6f42c1;
}

.red {
    color: #dc3545;
}

.pink {
    color: #a905b6;
}

.blue {
    color: #00abfb;
}

.background-light-green {
    background-color: #1987542a;
}

.background-light-red {
    background-color: #dc35462b;
}

.background-light-pink {
    background-color: #aa05b61c;;
}

.background-light-blue {
    background-color: #00abfb1f;
}

.card-text {
    border-radius: 10em;
    padding-inline: 10px;
    padding-block: 3px;
}

.card {
    height: 120px;;
    min-height: 120px;
}
