<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="card-group.css" />
    <title>Document</title>
</head>

<body style="padding: 20px;">
    <div class="row">
        <div class="col-md-3 col-sm-6 mb-3">
            <div class="card">
                <div class="my-card-body">
                    <p class="my-card-title">Total Visits</p>
                    <div class="my-card-content">
                        <i class="fa-solid fa-chart-simple fa-fw color-green my-card-icon"></i>
                        <p class="margin-auto color-green background-light-green test">+10%</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-3">
            <div class="card">
                <div class="my-card-body">
                    <p class="my-card-title">Total Page Views</p>
                    <div class="my-card-content">
                        <i class="fa-solid fa-chart-line fa-fw color-purple my-card-icon"></i>
                        <p class="margin-auto color-red background-light-red test">-7%</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-3">
            <div class="card">
                <div class="my-card-body">
                    <p class="my-card-title">Total Visits</p>
                    <div class="my-card-content">
                        <i class="fa-solid fa-chart-simple fa-fw green my-card-icon"></i>
                        <p class="margin-auto green test">+10%</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card">
                <div class="my-card-body">
                    <p class="my-card-title">Total Visits</p>
                    <div class="my-card-content">
                        <i class="fa-solid fa-chart-simple fa-fw green my-card-icon"></i>
                        <p class="margin-auto green test">+10%</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>