.page {
    display: flex;
    flex-direction: row;
}

.side-nav {
    display: none;
    background-color: lightgreen;
    width: 11rem;
    height: 100vh;
}

.side-nav.toggled {
    display: block;
}

.side-nav-header {
    display: flex;
    flex-direction: row;
    margin-bottom: .5rem;
}

.side-nav-close-toggle {
    margin-left: auto;
    margin-right: .5rem;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.tool-bar {
    display: flex;
    align-items: center;
    height: 2rem;
    background-color: lightcoral;     
}

.side-nav-open-toggle {  
    background-color: blueviolet;
}

.user-options {
    margin-left: auto
}

.main-content {
    flex-grow: 1;
    background-color: lightgoldenrodyellow;     
}

/* non-mobile screens */
@media screen and (min-width: 576px) {
    .side-nav {
        display: block;
        position: static;
        width: 11rem;
    }
    
    .side-nav.toggled {
        width: 4rem;
    }   
}