.page {
    display: flex;
    flex-direction: row;
}

.side-nav {
    position: fixed;
    background-color: lightgreen;
    width: 11rem;
    height: 100vh;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 100vh;
}

.tool-bar {
    height: 2rem;
    background-color: lightcoral;
    text-align: right;      /* temp */
}

.main-content {
    flex-grow: 3;
    background-color: lightgoldenrodyellow;
    text-align: right;      /* temp */
}