.my-container {
    display: flex;
}

.one {
    background-color: lightblue;
    flex-grow: 1;  
}

.two {
    background-color: lightcoral;
    flex-grow: 1;;
}

.three {
    background-color: lightcyan;
    flex-grow: 1
}