.test {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.test-1 {
    flex-grow: 1;
    background-color: lightblue;
}

.test-2 {
    flex-grow: 1;
    background-color: lightcoral;
}