body {
    font-family: 'Figtree', sans-serif;
    /* font-weight: 700; */
}

.page {
    display: flex;
    flex-direction: row;
}

.side-nav {
    width: 0;
    height: 100vh;
    transition: all 400ms;
    white-space: nowrap;
    background-color: white;
}

.side-nav.toggled {
    display: block;
    position: fixed;
    width: 16rem;
}

.side-nav-header {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.brand-symbol {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    min-width: 4rem;
    height: 4rem;
    font-size: 2.4rem;
    transform: rotate(-10deg);
    background-image: linear-gradient(90deg, rgb(23, 23, 171) 35%, rgba(0,212,255,1) 100%); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.brand-title {
    font-weight: bolder;
    font-size: 1.7rem;
    text-align: center;
    letter-spacing: 0.28ch;
}

.side-nav-close-toggle {
    margin-left: auto;
}

.nav-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-symbol {
    width: 4rem;
    min-width: 4rem;
    height: 4rem;
    background-color: blue;
}

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.tool-bar {
    display: flex;
    align-items: center;
    height: 4rem;
    background-color: lightcoral;     
}

.side-nav-toggle {  
    background-color: blueviolet;
}

.user-options {
    margin-left: auto
}

.main-content {
    flex-grow: 1;
    background-color: lightgoldenrodyellow;     
}

/* larger than mobile screens */
@media screen and (min-width: 576px) {
    .side-nav {
        display: block;
        position: static;
        width: 4rem;
    }
    
    .side-nav.toggled {
        display: block;
        position: static;
        width: 16rem;
    }

    .side-nav:not(.toggled):hover {
        position: fixed;
        width: 16rem;
    }

    .side-nav-close-toggle {
        display: none;
    }
}