body {
    font-family: 'Figtree', sans-serif;
    font-weight: 700;
}

.page {
    display: flex;
    flex-direction: row;
}

.side-nav {
    z-index: 2;
    position: fixed;
    left: -16rem;
    height: 100vh;
    transition: all 400ms ease;
    white-space: nowrap;
    background-color: white;
}

.side-nav.toggled {
    display: block;
    position: fixed;
    left: 0px;
    width: 16rem;
}

.side-nav-header {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.brand-symbol {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    min-width: 4rem;
    height: 4rem;
    font-size: 2.4rem;
    transform: rotate(-10deg);
    background-image: linear-gradient(-10deg, rgb(23, 23, 171) 35%, rgba(0,212,255,1) 100%); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.brand-title {
    left: -999px;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
}

.side-nav-close-toggle {
    margin-left: auto;
}

.nav-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-symbol {
    width: 4rem;
    min-width: 4rem;
    height: 4rem;
    background-color: blue;
}

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    top: 4rem;
}

.tool-bar {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    align-items: center;
    height: 4rem;
    background-color: lightcoral;     
}

.side-nav-toggle {  
    background-color: blueviolet;
}

.user-options {
    margin-left: auto
}

.main-content {
    position: relative;
    padding-top: 4rem;
    flex-grow: 1;
    background-color: lightgoldenrodyellow;     
}

/* larger than mobile screens */
@media screen and (min-width: 576px) {
    .main {
        padding-left: 4rem;
    }

    .side-nav {
        left: 0;
        width: 4rem;
    }

    .side-nav-close-toggle {
        display: none; 
    }

    .side-nav:hover {
        width: 16rem;
    }

    body:not(.navbar-expanded) .navbar-expandable {
        display: none;
    }

    body.navbar-expanded .navbar-expandable, .side-nav:hover .navbar-expandable {
        display: block;
    }

    body.navbar-expanded .main, body.navbar-expanded .tool-bar {
        padding-left: 16rem;
    }

    body.navbar-expanded .side-nav {
        width: 16rem;
    }

    .brand-symbol {
        transform: rotate(-10deg);
    }

    .tool-bar {
        padding-left: 4rem;
    }
}