.main-container {
    display: flex;
    flex-direction: row;
}

.nav-bar {
    width: 12rem;
    height: 100vh;
    background-color: lightblue;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.content {
    flex-grow: 1;
    height: 100vh;
    background-color: lightcoral;
}