:root {
    --navbar-height: 4rem;

    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--navbar-height);
    background-color: lightblue;
}

.navbar-items {
    list-style: none;
    padding-left: 1rem;
    margin: 0;
}